header {
  position: fixed;
  height: 85px;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.43) 0%,
    rgba(0, 0, 0, 0.24) 100%
  );
  z-index: 99999;
  padding: 0px 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--Montserrat_font);
  h3 {
    font-weight: 500;
    font-size: 30px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}
