.banner {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/banner/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  padding: 0px 80px;
  position: relative;
  .sandclock {
    width: 500px;
    height: 500px;
    // border: 1px solid black;
    overflow: visible;
  }
  .topimg {
    margin-top: 85px;
  }

  .details {
    p {
      font-size: 24px;
      color: white;
    }
    h1 {
      font-size: 68px;
      color: white;
    }
    button {
      border-radius: 50px;
      border: 1px solid #fdc830;
      background: #fff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      color: black;
      padding: 13px 42px;
      margin-top: 40px;
      font-weight: 600;
    }
  }
  .veg {
    position: absolute;
    left: 0;
    height: 100vh;
  }
}
